# API 서버 기본 주소 (예: 로컬 개발 시 http://localhost:port_number 입력)
EXPO_PUBLIC_BASE_URL=http://api.example.com

# 카카오 API 키 (카카오 디벨로퍼스에서 발급받은 REST API 키 입력)
EXPO_PUBLIC_KAKAO_API_KEY=your_kakao_api_key_here
